
#logoAuB {
    color: #fff;
    display: inline-block;
    line-height: 30px;
    font-family: "Novecento Narrow Demibold";
}

#logoAuB span {
    color: #ff0199;
}

#navbarAuB {
    margin-top: 10px;
    color: white;
    display: inline-block;
    line-height: 30px;
    font-family: 'Novecento Narrow Demibold';
}

#navbarAuB ul {
    width: auto;
}

#navbarAuB ul li {
    padding: 0 15px;
}


#leaveAuB {
    float: right;
    font-size: 11px;
    border-left: 1px solid #fff;
    padding: 0;
}

#leaveAuB a {
    background:none;
    color: white;
}

#leaveAuB a span {
    color:#fe57a1;
}

#sectionAuB {
    float:left;
}

#aub {
    margin-top: 10px;
    margin-left: 20px;
    text-align: center;
    line-height: 30px;
    border: none;
    font-family: Novecento Narrow Demibold;
    color: white;
    font-size: 14px;
    padding: 5px 0;
}

#aubLink {
    background: none;
    padding: 0;
    color: #fc8bb1;
}

.visitedDot {
    position: absolute;
    left: 5px;
    bottom: 2px;
}
