
.visited {
    width: 9px;
    position: absolute;
    left: 5px;
    bottom: 2px;
}

#aubBackground {
    margin-top: 10px;
    background-color: black;
}

#aub {
    text-align: center;
    border: none;
    font-family: Novecento Narrow Demibold;
    color: white;
    font-size: 14px;
    padding:5px 0;
}