#aubDesign {
    margin-top:10px;
    background-color:#191919;
}

#aubDesignTop {
    margin-top:-2px;
}
#aubDesignBot {
    margin-left:-1px;
    width:851px;
}

#aubDesign h2 {
    margin-top:10px;
    text-align:center;
    border:none;
    font-family: Novecento Narrow Demibold;
    color:white;
    font-size:14px;
    padding:5px 0;
}

#aubBackground {
    margin-top:10px;
    background-color:black;
}

#aubBackground #aub {
    text-align: center;
    border: none;
    font-family: Novecento Narrow Demibold;
    color: white;
    font-size: 14px;
    padding: 5px 0;
}

#logoAuB {
    color: #fff;
    display: inline-block;
    line-height: 30px;
    font-family: "Novecento Narrow Demibold";
}

#logoAuB span {
    color: #ff0199;
}

#navbarAuB {
    margin-top: 10px;
    color: white;
    display: inline-block;
    line-height: 30px;
    font-family: 'Novecento Narrow Demibold';
}

#navbarAuB ul {
    width: auto;
}

#navbarAuB ul li {
    padding: 0 15px;
}


#leaveAuB {
    float: right;
    font-size: 11px;
    border-left: 1px solid #fff;
    padding: 0;
}

#leaveAuB a {
    background:none;
    color: white;
}

#leaveAuB a span {
    color:#fe57a1;
}

#sectionAuB {
    float:left;
}

#aub {
    margin-top: 10px;
    margin-left: 20px;
    text-align: center;
    line-height: 30px;
    border: none;
    font-family: Novecento Narrow Demibold;
    color: white;
    font-size: 14px;
    padding: 5px 0;
}

#aubLink {
    background: none;
    padding: 0;
    color: #fc8bb1;
}

.visitedDot {
    position: absolute;
    left: 5px;
    bottom: 2px;
}

/*
** AuB Search
*/

.aubSearch {
    margin-top: 10px;
    background-color: #191919;
}

.aubSearch img:first-child {
    margin-top: -5px;
}

.aubSearchBotImg {
    margin-left: -1px;
    width: 851px;
}

.aubSearch h2 {

}
